@import "../mixins/config";
@import "../mixins/responsive";
@import "../mixins/colour-macro";

@import "../components/peer-status";

main.quiz-viewer {

	.-join-code {
		text-align: center;
	}

	.-quiz-title {
		margin: 0 0 1.5rem 0;
		font-size: 1.75rem;
		font-weight: 400;

		strong {
			font-weight: 600;
		}
	}

	.question-container {
		.question, .answer {
			margin-bottom: 2rem;
			.-header {
				display: flex;
				flex-direction: row;
				align-items: end;
				margin-bottom: 0.5rem;

				> * {
					height: min-content;
				}

				.-number {
					font-size: 2.5rem;
					line-height: 2.5rem;
					min-width: 3rem;
					max-width: 3rem;
					text-align: right;
					@include text-colour( light );

					margin-right: 1.5rem;
				}

				.-question {
					@include text-colour( light );
					word-break: break-word;
				}

				.peer-status {
					display: none;
				}
			}

			&.-focus {
				.-header .peer-status {
					display: flex;
				}
			}

			.ipt.-textarea {
				textarea {
					height: 4.75rem;
					resize: none;
				}
			}
		}
	}

	.grading-container {
		.question {
			margin-bottom: 2rem;
		}
	}

	.leaderboard-container {
		.contestant {
			display: flex;

			margin-bottom: 1.5rem;

			>.-avatar {
				min-width: 6rem;
				max-width: 6rem;
				margin-right: 1.5rem;
				svg {
					width: 6rem;
					height: 6rem;
				}
			}

			.-nick {
				margin: 0 0 0.25rem 0;
				font-size: 1.5rem;
				font-weight: 400;
			}
			.-quest {
				margin: 0 0 0.75rem 0;
				font-size: 1rem;
				font-weight: 400;
			}
			.-score {
				margin: 0;
				font-size: 1.75rem;
				font-weight: 600;
			}
		}
	}
}

