{{define `contents`}}

<main class="home -dialog -small">

	<section>
		<div>
			<h3>Join a quiz</h3>

			<form method="POST" action="{{.AppRoot}}join-quiz" autocomplete="off">
				<fieldset>
					<div class="ipt -text">
						<label for="quiz-join-code">Enter your join code</label>
						<div><input type="text" name="quiz-join-code" value="" /></div>
					</div>
				</fieldset>
				<fieldset>
					<div>
						<input class="tfbutton -h50 -fullwidth" type="submit" value="Join" />
					</div>
				</fieldset>
			</form>
		</div>
	</section>

	{{if .CurrentUser.Admin}}
		<section>
			<h3>Start a new quiz</h3>
			<div>
				<a href="{{.AppRoot}}new-quiz" class="tfbutton -alt -fullwidth -h50">Start a new quiz</a>
			</div>
		</section>
	{{end}}

</main>

{{end}}
