{{define `contents`}}

<main class="profile -dialog -small">

	<section>
		<div>
			{{if .Response.Changed}}
			<p>Aye; ye may pass.</p>
			{{else}}
			<p>Who would pass the page of landing must answer me these questions three, ere the other side he see.</p>
			{{end}}
			{{$cp := .Response.CurrentProfile}}
			<form method="POST" action="{{.AppRoot}}profile" autocomplete="off">
				<fieldset>
					<div class="ipt -text">
						<label for="nick">What is your name?</label>
						<div><input type="text" name="nick" id="nick" value="{{$cp.Nick}}" /></div>
					</div>
				</fieldset>
				<fieldset>
					<div class="ipt -text">
						<label for="quest">What is your quest?</label>
						<div><input type="text" name="quest" id="quest" value="{{$cp.Quest}}" /></div>
					</div>
				</fieldset>
				<fieldset>
					<div class="ipt -dropdown">
						<label for="colour">What is your favourite colour?</label>
						<div>
							<select class="kleurstaal" name="colour" id="colour">
								<option value="a8a8a8">-</option>
								{{range $i, $c := .Response.AllColours}}
									<option {{if eq ($c.Hex) ($cp.Colour)}}selected{{end}} value="{{$c.Hex}}">{{$c.Name}}</option>
								{{end}}
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div>
						<input type="hidden" name="save" value="1" />
						{{if .Response.New}}<input type="hidden" name="new" value="1" />{{end}}
						<input class="tfbutton -h50 -fullwidth" type="submit" value="Save" />
						<a href="{{.AppRoot}}" class="tfbutton -transparent -h50 -fullwidth">Back</a>
					</div>
				</fieldset>
			</form>
		</div>
	</section>

</main>

{{end}}

