{{define `contents`}}

<main class="quiz-viewer -dialog -medium" data-quizkey={{.Response.Quiz.QuizKey}}>

	<section class="dialog -medium">
		<div class="peer-status"></div>
	</section>

	<section class="dialog -medium -js-quiz-global-start">
		<div class="-join-code">
			<p>The join code for this quiz is:</p>
			<h2>{{.Response.Quiz.AccessCode}}</h2>
		</div>
		<div>
			<button class="tfbutton -vote-continue -js-vote-continue -h50 -fullwidth">Everybody's here; start the quiz</button>
		</div>
	</section>

	<section class="dialog -medium -js-quiz-questions">
		<h3 class="-quiz-title"></h3>
		<div class="question-container">
		</div>
		<template class="-js-template-answer">
			<div class="-header">
				<div class="-number"></div>
				<div class="-question"></div>
			</div>
			<div class="ipt -textarea">
				<div><textarea placeholder="Type your answer here"></textarea></div>
			</div>
		</template>
		<template class="-js-template-question">
			<div class="-header">
				<div class="-number">6</div>
				<div class="peer-status -small"></div>
			</div>
			<div class="ipt -textarea">
				<div><textarea placeholder="Write a short reminder for this question"></textarea></div>
			</div>
		</template>
		<div>
			<button class="tfbutton -vote-continue -js-vote-continue -h50 -fullwidth">Continue</button>
		</div>
	</section>

</main>

{{end}}
