{{define `contents`}}

<main class="quiz-viewer -dialog -medium" data-quizkey={{.Response.Quiz.QuizKey}}>

	<section class="dialog -medium peer-status -js-update-peer-status">
		<template class="-js-template-peer">
			<svg><use fill="#a2a2a2" xlink:href="#avatar-neutral"/></svg>
			<div class="-name -hide-mobile"></div>
		</template>
	</section>

	<section class="dialog -medium">
		<div>
			<button class="tfbutton -vote-continue -js-vote-continue -h50 -fullwidth">Continue</button>
		</div>
	</section>

</main>

{{end}}
