{{define `contents`}}

<main class="login">

	{{range $err := .PageData.LoginErrors}}
		<section class="dialog -error -narrow">
			<h2>{{ErrorHeadline $err}}</h2>
			<p>{{ErrorMessage $err}}</p>
		</section>
	{{end}}

	<section class="dialog -narrow">
		<form method="POST">
			<h2>Log in</h2>
			<input type="hidden" name="continue" value="{{.PageData.Continue}}" />
			<div class="ipt -text"><label>Username: <input type="text" name="username" /></label></div>
			<div class="ipt -text"><label>Password: <input type="password" name="password" /></label></div>
			<div class="ipt -buttons">
				<input type="submit" class="tfbutton -h50 -fullwidth" value="Log in" />
				<a href="{{.AppRoot}}" class="tfbutton -h50 -transparent -fullwidth">Cancel</a>
			</div>
		</form>
	</section>

</main>

{{end}}
