
.ipt {
	margin-bottom: 1.25rem;

	input[type=text],
	input[type=password],
	input[type=numeric],
	select {
		@include background-colour( ui-background );
		border-style: solid;
		border-width: thin;
		border-radius: 0.25rem;
		@include border-colour( ui-main );
		font-size: 18px;
		line-height: 1.5rem;
		padding: 0.75rem 1.25rem;

		@include text-colour( ui-text );

		&:focus, &:active {
			@include background-colour( ui-background-act );
			@include border-colour( ui-main-act );
			box-shadow: 0 0 .125rem .125rem map-get( $colour-descriptors, ui-main );
		}
	}

	&.-dropdown, &.-text {
		> label {
			display: block;
			@include text-colour( ui-text-dim );
		}
	}

	&.-text {
		input {
			display: block;
			width: 100%;
		}
	}

	&.-dropdown {
		select {
			display: block;
			width: 100%;
		}
	}

	&.-buttons {
		display: grid;
		grid-template-columns: repeat( auto-fill, minmax(9rem, 1fr) );
		grid-template-rows: auto;
		grid-gap: 1.25rem;
	}
}

fieldset {
	border: 0;
	padding: 0;
	margin-bottom: 0.5rem;

	&:last-child {
		margin-bottom: unset;
		> .ipt {
			margin-bottom: unset;
		}
	}
}

main.-dialog {
	display: flex;
	justify-content: center;

	section {
		@include background-colour( ui-background );
		max-width: 100%;
	}

	&.-small {
		section {
			width: 23rem;
			padding: 1.5rem;
		}
	}

	&.-medium {
		section {
			width: 45rem;
			padding: 1.5rem;
		}
	}
}
