
@import "../mixins/config";
@import "../mixins/responsive";
@import "../mixins/colour-macro";

.peer-status {
	display: flex;
	flex-wrap: wrap;

	.-peer {
		text-align: center;
		margin: 0.25rem;

		position: relative;

		border-width: 0.1875rem;
		border-style: none;
		border-radius: 0.5rem;
		border-color: transparent;
		box-sizing: border-box;

		svg {
			display: block;
			margin: 0 auto;
		}

		.-name {
			display: none;

			position: absolute;
			padding: 0.25rem 0.375rem;

			background-color: rgba(20,20,20,0.3);
			color: white;
			word-break: break-word;

			left: 0;
		}
		&:hover {
			.-name {
				display: block;
			}
		}

		&.-voted {
			border-style: solid;
			@include border-colour( ui-active );
		}
	}

	@mixin set-peer-size( $peer-size ) {
		.-peer {
			width: $peer-size;

			svg {
				width: $peer-size;
				height: $peer-size;
			}

			.-name {
				width: $peer-size;
				font-size: .175 * $peer-size;
				line-height: .2 * $peer-size;
				top: 0.375 * $peer-size;
			}
		}
	}

	@include set-peer-size( 5rem );

	&.-small {
		@include set-peer-size( 2rem );
	}
}
