
@import "../mixins/config";
@import "../mixins/responsive";
@import "../mixins/colour-macro";

.peer-status {
	display: flex;
	flex-wrap: wrap;

	$peer-size: 5rem;

	.-peer {
		width: $peer-size;
		text-align: center;
		margin: 0.25rem;

		position: relative;

		border-width: 0.1875rem;
		border-style: none;
		border-radius: 0.5rem;
		border-color: transparent;
		box-sizing: border-box;

		svg {
			display: block;
			width: $peer-size;
			height: $peer-size;
			margin: 0 auto;
		}

		.-name {
			display: none;

			position: absolute;
			width: $peer-size;
			padding: 0.25rem 0.375rem;

			background-color: rgba(20,20,20,0.3);
			color: white;
			font-size: .875rem;
			line-height: 1rem;
			word-break: break-word;

			left: 0;
			top: 0.375 * $peer-size;
		}
		&:hover {
			.-name {
				display: block;
			}
		}

		&.-voted {
			border-style: solid;
			@include border-colour( ui-active );
		}
	}
}
